$color-white:#fff;
$color-black:#000;
$color-contessa: #c97164;
$color-quicksand: #bc978c;

$ricordi-font: 'Ricordi';
$manrope-font: 'Manrope';

$easy-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'navigation',
  'content'
);
