*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: calc(100vw / 1920 * 10);
  // @include media('<phone') {
  // }
}

body {
  @extend %description-16;

  font-family: $manrope-font;
  background-color: red;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}
